<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>03CMSApp.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>F4C127C0141D42C651EB0422D7D144ADCB0F072E</string>
				<key>dateExpires</key>
				<string>2026/05/25</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F4C127C0141D42C651EB0422D7D144ADCB0F072E</string>
						<key>dateExpires</key>
						<string>2026/05/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAnalytics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A8W276BMB8</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>11.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F4C127C0141D42C651EB0422D7D144ADCB0F072E</string>
						<key>dateExpires</key>
						<string>2026/05/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleAppMeasurement.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A8W276BMB8</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>11.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F4C127C0141D42C651EB0422D7D144ADCB0F072E</string>
						<key>dateExpires</key>
						<string>2026/05/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleAppMeasurementIdentitySupport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A8W276BMB8</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>11.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>11.0.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F4C127C0141D42C651EB0422D7D144ADCB0F072E</string>
						<key>dateExpires</key>
						<string>2026/05/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleAppMeasurementOnDeviceConversion.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A8W276BMB8</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>11.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F4C127C0141D42C651EB0422D7D144ADCB0F072E</string>
						<key>dateExpires</key>
						<string>2026/05/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RealmSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A8W276BMB8</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>A8W276BMB8.jp.co.mitsufuji.03cms.app.dev</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>A8W276BMB8</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>03CMSApp.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>9c4d702a-10a7-4792-a7a2-ac8d1ff8db5d</string>
				<key>dateExpires</key>
				<string>2026/05/25</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: jp.co.mitsufuji.03cms.app.dev</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>A8W276BMB8</string>
				<key>name</key>
				<string></string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
